._pages_modules_statistik_schlachtensimulator-ajax table
{
/* 	padding-right:80px; */
}

._pages_modules_statistik_schlachtensimulator-ajax table.dn_simulationsergebnis  td,
._pages_modules_statistik_schlachtensimulator-ajax table.dn_simulationsergebnis  th
{
	border: 1px solid white;
	padding:5px;
}
._pages_modules_statistik_schlachtensimulator-ajax table.dn_simulationsergebnis
{
	border-collapse: collapse;
}

._pages_modules_statistik_schlachtensimulator-ajax div.dn_simulationsergebnis
{
	max-width: 1200;
	overflow: auto;
}



/*-------------------------------------------------*/




._pages_modules_statistik_schlachtbericht #mainDiv table  td,
._pages_modules_statistik_schlachtbericht #mainDiv table  th
{
	border: 1px solid white;
	padding:5px;
}
._pages_modules_statistik_schlachtbericht #mainDiv table
{
	border-collapse: collapse;
}

._pages_modules_statistik_schlachtbericht #mainDiv table div.dn_dead
{
	color:red;
}
/*-------------------------------------------------*/

._pages_modules_handel_frachttransfer .dn_transfer td
{
	vertical-align: middle;
}
._pages_modules_handel_frachttransfer td.ress-slider
{
	padding-left:20px;
}
._pages_modules_handel_frachttransfer select
{
	width: 250px;
}

/*-------------------------------------------------*/

._ajax_posDetail img
{
	width: 180px;
}




